*, *:before, *:after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

body{
  width: 100%;
}

.container{
  width:100%;
  margin:auto;
}
.header{
  width:100%;
  margin:auto;
  padding:1%;
  background: white;
  border-bottom: solid 3px #F7268A;

}
.header:after{
  clear:both;
  display:table;
  content:"";
}

.h1{
  width: 60%;
  float:left;
  color: #67E6DC;

}
.buttons{
  width:40%;
  float:left;
  display:block;
  margin-top: 35px;
  text-align: right;
}
.home, .about, .products, .contact{
  font-size: 20px;
  color: black;
  margin: 7px;
  background: none;
  border:none;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}
.home:hover, .about:hover{
  color: black;
}
